
<div class="card-instrument">
  <%= cl_image_tag instrument.photo.key, width: 250, height: 200, crop: :fill %>
  <div class="card-instrument-infos">
    <div>
      <h2><%= instrument.name.capitalize %></h2>
      <p>Distance: *km</p>
    </div>
    <p class="card-instrument-infos">
      <% if policy(instrument).edit? %>
        <%= link_to "Update", edit_instrument_path(instrument) %> |
        <%= link_to "Remove", instrument_path(instrument), method: :delete %>
      <% else %>
          <p>Rate: €<%= instrument.price_per_day %></p>
      <% end %>
    </p>
    <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1601888580/sna5wlbfxgfmevyvsw2a.jpg" alt="Magdalena Barthofer" class="card-trip-user avatar-bordered" />
  </div>
</div>

 <!-- card instrument partial -->

