
<div class="card-instrument">
  <% if instrument.photo.present? %>
    <%= cl_image_tag instrument.photo.key %>
  <% else %>
    <img src="https://images.unsplash.com/photo-1507838153414-b4b713384a76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" />
  <% end %>
  <div class="card-instrument-infos">
    <div>
      <h2><%= instrument.name.capitalize %></h2>
      <% if @location %>
        <p>Distance: <%= instrument.distance(location).round(1) %>km</p>
      <% end %>
    </div>
    <p class="card-instrument-infos">
      <% if policy(instrument).edit? %>
        <%= link_to "Update", edit_instrument_path(instrument) %> |
        <%= link_to "Remove", instrument_path(instrument), method: :delete %>
      <% else %>
          <p>Rate: €<%= instrument.price_per_day %></p>
      <% end %>
    </p>
    <% if instrument.user.photo.present? %>
      <%= cl_image_tag instrument.user.photo.key, class:"avatar-bordered" %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1484069560501-87d72b0c3669?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" class="avatar-bordered"/>
    <% end %>
  </div>
</div>

 <!-- card instrument partial -->

