
<div class="card-instrument">
  <%= cl_image_tag instrument.photo.key %>
  <div class="card-instrument-infos">
    <div>
      <h2><%= instrument.name.capitalize %></h2>
      <p>Distance: *km</p>
    </div>
    <p class="card-instrument-infos">
      <% if policy(instrument).edit? %>
        <%= link_to "Update", edit_instrument_path(instrument) %> |
        <%= link_to "Remove", instrument_path(instrument), method: :delete %>
      <% else %>
          <p>Rate: €<%= instrument.price_per_day %></p>
      <% end %>
    </p>
    <%= cl_image_tag user.photo.key, class:"avatar-bordered" %>
  </div>
</div>

 <!-- card instrument partial -->

