<div class="card-instrument-show">
  <%= cl_image_tag instrument.photo.key, class: "instrument-image"%>
  <div class="card-instrument-infos">
    <div>
      <h2><%= instrument.name.capitalize %></h2>
      <% if location %>
        <p>Distance: <%= instrument.distance(location).round(1) %>km</p>
      <% end %>
    </div>
    <p class="card-instrument-infos">
      <% if policy(instrument).edit? %>
        <%= link_to "Update", edit_instrument_path(instrument) %> |
        <%= link_to "Remove", instrument_path(instrument), method: :delete %>
      <% else %>
          <p>Rate: €<%= instrument.price_per_day %></p>
      <% end %>
    </p>
  </div>
  <div class="card-instrument-description card-instrument-infos">
    <h2>Description</h2> <br>
    <p><%= instrument.description %> </p>
  </div>
  <%= cl_image_tag instrument.user.photo.key, class:"avatar-bordered avatar avatar-card" %>
</div>
