<h1>Edit Instrument</h1>

<% if policy(@instrument).edit? %>
  <%= simple_form_for @instrument do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price_per_day %>
    <%= f.submit class:'button-pink' %>
  <% end %>
<% end %>
