<h1>Add a new instrument</h1>

<% if policy(Instrument).create? %>
  <%= simple_form_for @instrument do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price_per_day %>
    <%= f.input :address %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: 'button-pink' %>
  <% end %>
<% end %>
